.disabled {
    pointer-events: none;
}
.nav>li.authentication-tabs{
    padding: 0;
    text-align: center;
    width: 50%;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-bottom: 2px solid #3c8dbc;
}
.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    border-bottom: 2px solid #d2d1d1;
}
.nav-tabs>li.active>a.tab-left,
.nav-tabs>li.active>a.tab-feft:focus,
.nav-tabs>li.active>a.tab-feft:hover,
.nav-tabs>li>a.tab-left,
.nav-tabs>li>a.tab-feft:focus,
.nav-tabs>li>a.tab-feft:hover {
    border-top-right-radius: 0px;
}
.nav-tabs>li.active>a.tab-right,
.nav-tabs>li.active>a.tab-right:focus,
.nav-tabs>li.active>a.tab-right:hover,
.nav-tabs>li>a.tab-right,
.nav-tabs>li>a.tab-right:focus,
.nav-tabs>li>a.tab-right:hover {
    border-top-left-radius: 0px;
}
.nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
}
