.archive {
    float: left;
    display: block;
    line-height: 40px;
    width: 50px;
}
i.fas.fa-archive {
    font-size: 25px;
    margin-left: 12px;
    margin-top: 13px;
}
#message {
    border: 1px solid rgba(1,1,1,0.3);
    position: absolute;
    top: 30%;
    left: 33%;
    z-index: 1000;
    width: 35%;
    height: 116px;
    background-color: rgb(247,247,247);
}
.warning {
    font-weight: bold;
    margin: 10px 10px 30px 10px;
}
#sure {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 900;
}
.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.projects-container {
    position: relative;
    width: 230px;
    height: calc(100vh - 50px);
    float: left;
    overflow: auto;
}
.projects-container::-webkit-scrollbar-track {
  background-color: rgb(230,234,243);
}
.projects-container::-webkit-scrollbar {
  width: 10px;
}
.projects-container::-webkit-scrollbar-thumb {
  background-color: rgb(54,127,169);
}
.tasks-container {
    height: calc(100vh - 50px);
    width: calc(100% - 230px);
    float: right;
    overflow: auto;
}
li .circle.red {
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
li .circle.grey {
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: grey;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
li .circle.yellow {
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: yellow;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
li .circle.green {
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: green;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
li .circle.blue {
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: blue;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
li .circle.black {
    pointer-events: none;
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.nav>li>a.project-name {
    padding-left: 30px;
}
.title {
    font-weight: bold;
}
.project-title {
    text-decoration: underline;
    color: rgb(51,122,183);
}
.skin-blue .wrapper {
    background-color: rgba(230, 234, 243, 1);
}
.nav>li>a:hover {
    color: #444;
    background: rgb(174,177,184);
}
.nav>li.active>a {
    color: #444;
    background: rgb(174,177,184);
}
#add-p, .add-t, .add-t-p {
    color: red;
    font-weight: bold;
}
.badge {
    background-color: rgba(255, 0, 0, 0.8);
}
span.glyphicon.glyphicon-option-vertical {
    display: none;
    font-size: 20px;
    position: absolute;
    top: 9px;
    right: 10px;
}
.task-text {
    padding-left: 20px;
    word-wrap: break-word;
    margin-bottom: 0;
}
div.box-footer>.glyphicon.glyphicon-option-vertical{
    display: block;
}
.box-footer.box-comments {
    position: relative;
    border: 1px solid rgba(1,1,1,0.3);
}
div.box-footer>.menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 90%;
    z-index: 1000;
}
.date {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 2;
    word-wrap: break-word;
    width: 100px;
}
.square-1 {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
    width: 10px;
    height: 10px;
    background: red;
    border: 1px solid black;
}
.square-2 {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
    width: 10px;
    height: 10px;
    background: orange;
    border: 1px solid black;
}
.square-3 {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 2;
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid black;
}
div>.circle.red {
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div>.circle.grey {
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: grey;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div>.circle.yellow {
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: yellow;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div>.circle.green {
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: green;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div>.circle.blue {
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: blue;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div>.circle.black {
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: 2;
	width: 10px;
	height: 10px;
	background: black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.menu{
    position: absolute;
    top: 40px;
    left: 130px;
    z-index: 10;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.box-footer.box-comments.expired {
    background: rgba(255, 0, 0, 0.6);
}
