input.error, input.error:focus {
    border: 1px solid #dd4b39;
}
input.success, input.success:focus {
    border: 1px solid #00a65a;
}
p.error {
    color: #dd4b39;
}
p.success {
    color: #00a65a;
}
input[name="agree_checkbox"].error {
    border: 1px solid #dd4b39;
}
